:root {
  --color-main-blue: #23d5e2;
  --color-main-gray: #edf2f7;
  --color-main-yellow: #de9108;
  --color-main-purple: #641bf5;
  --color-light-gray: #75818c;
  --color-white: #ffffff;
  --color-black: #000000;
  --spacing-minor-scale: 4px;
  --spacing-large-scale: 8px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: calc(var(--spacing-large-scale) * 10) 1fr;
  grid-template-areas:
    "header"
    "app";
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
